@import url(./geomanist/stylesheet.css);

* {
  font-family: Geomanist,sans-serif;
}

.container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.grow-90 {
    flex-grow: 1;
}

body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 0 2px;
}
header nav ul {
    display: flex;
    list-style: none;
}
.d-flex {
    display: flex;
}
.justfy-content-betwin {
    justify-content: space-between;
}
.aling-items-center {
    align-items: center;
}
.py2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-container {
    width: 80%;
}

.nav-link {
    margin: 0.5rem;
    font-weight: 400;
}

.nav-link:hover {
    color: aqua;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

.button {
    background-color: rgb(0, 42, 57);
    color: white;
    border-radius: 4px;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: 1rem;
    display: flex;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.button:hover {
    background-color: #44EAC2;
}
.button:active {
    background-color: #1DC198;
}
.glass {
    position: relative;
    align-items: center;
    border: 1px solid rgba(0, 42, 57, .25098039215686274);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 15px;
    display: flex;
    flex-grow: 1;
    margin-bottom: 0.5rem;
    flex-direction: row;
}

.glass  input {
    border: none;
    outline: none;
    margin-left: 0.5rem;
    width: 100%;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
  
.flex-two {
    flex: 1 0 40%;
}
  
.display-flex {
    display: flex;
}
  
.ps-2 {
    padding-left: 0.5rem;
}

.icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.rounded-icon-wrapper {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 0 6px rgba(0,0,0,.1);
}

.rounded-icon-wrapper i {
    color: white;
}
  
.icon-color-1 {
    background-color: #3276C0;
}
  
.icon-color-2 {
    background-color: #6A9F42;
}
  
.icon-color-3 {
    background-color: #B36879;
}
  
.icon-color-4 {
    background-color: #F5D24A;
}

.my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer {
    display: flex;
    background-color: #002f34;
    justify-content: center;
    font-size: 14px;
    color: white;
}

.container-footer {
    max-width: 1200px;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 100%;
    align-items: center;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
}

.footer-main {
    display: flex;
    width: 100%;
}

.footer-main ul {
    width: 25%;
    list-style: none;
}

.footer-main ul li {
    margin: 1rem 0;
}

.footer-main ul li > * {
    color: white;
}

.copyright {
    padding: 2rem 0;
    width: 100%;
    color: white; 
}

.align-items-center {
    align-items: center;
}

.body-section {
    display: flex;
    justify-content: center;
    background-color: #f1f4f5;
    padding: 0 0 1rem 0;
}

.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.arrow-buttons-container {
    display: flex;
    align-items: flex-end;
    height: 4rem;
}

.button-circle {
    border-radius: 50%;
    background-color: white;
    border: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: 0 0.25rem 0.5rem 0.25rem;
}
.modal-container {
    position: fixed;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.2);
    z-index: 999;
    opacity: 1;
  }
  
.modal {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
}
  
.modal-content {
    background-color: white;
    width: 600px;
    box-shadow: 0 20px 60px -2px rgba(27,33,58,.4);
    border-radius: 0.5rem;
}
  
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 0 1rem;
}
  
.modal-header h1 {
    font-size: 16px;
    margin: 0;
}
  
.modal-header i {
    scale: 2;
}

.card-list {
    display: flex;
    overflow: hidden;
}

.card-list li {
    flex: 1 0 10%;
    background-color: white;
    margin-right: 0.5rem;
    border-radius: 4px;
    list-style: none;
}

.card-list li img {
    width: 100%;
    max-height: 160px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}

.card-list li h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    max-height: 40px;
    margin: 0 0 0.25rem 0;
}

.card-list :last-of-type {
    margin-right: 0;
}

.tag {
    color: #002f34;
    height: 18px;
    border-radius: 2px;
    font-size: 10px;
    font-weight: 600;
    padding: 0 5px;
    margin-bottom: 0.25rem;
    border: 1px solid #e0e0e0;
}

.card-body div {
    padding: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.card-body {
    max-width: 200px;
    padding: 0.5rem;
}

.card-body > h1 {
    margin-bottom: 1rem !important;
}

.w-100 {
    width: 100%; 
}

.card-end {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem ;
}

.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-empty {
    padding: 0.5rem;
    border: 2px solid #002f34;
    border-radius: 4px;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
    box-sizing: border-box;
}
.button-empty:hover {
    box-shadow: inset 0 0 0 3px #002f34;
}
.card-list-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    width: 100%;
    justify-content: center;
}

.card-list-grid li {
    position: relative;
    flex: 1 0 10%;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0,0,0,.1);
}

.card-list-grid li img {
    width: 100%;
    max-height: 160px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}

.card-list-grid li h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    max-height: 40px;
    margin: 0 0 0.25rem 0;
}