.button {
    background-color: red; 
    border: 5px solid black;
    cursor: pointer;}
.button:hover {
    background-color: black;
    color: white;
    border: 5px dotted red;}
.button:focus {
    background-color: red;
    color: black;
    border: 5px double black;}
.button:active {
    background-color: red;
    color: black;
    border: 5px dashed black;}
