.div {
  /* unversal properties */
  position: relative;

  background-color: red;
  border: 7px solid black;
}


.div:hover {
  background-color: black;
  color: white;
  border: 7px dotted red;
}

.div:active {
  border: 7px double black !important;
}

.div:focus {
  border: 7px dashed black;
}