.div {
  /* unversal properties */
  width: 700px;
  min-height: 600px;
  position: relative;

  background-color: red;
  background-image: url("sysDuo.png");
  /* background-attachment: fixed; */
  
  background-position: bottom left;
  /* opacity: 0.3; */
  background-repeat: no-repeat;
  /* background-size: 100px 200px; */
  /* background-size: cover; */
  /* background-size: contain; */
}

