/* .parent {
  width: 700px;
  padding: 300px 0;
  background-color: cadetblue;
}

#child {
  margin: auto;
  width: fit-content;
  background-color: blanchedalmond;
} */

/* .parent {
  max-width: 120px;
  background-color: cadetblue;
  padding: 10px;
}

#child {
  margin: 10px;
  padding: 10px;
  width: 100px;
  background-color: blanchedalmond;
  box-sizing: border-box;
} */

* {
  font-family: 'Roboto', sans-serif;
}

.parent {
  max-width: 400px;
  height: 400px;
  background-color: cadetblue;
  outline-offset: 10px;

  outline-color: red;
  outline-style: solid;
  outline-width: 2px;
  /* text-align-last: justify; */
  /* text-decoration: line-through red double 2px; */
  /* text-indent: 10px;
  letter-spacing: 3px;
  line-height: 20px;
  word-spacing: 20px;
  text-shadow: 2px 2px red; */
  white-space: pre-line;
}


#child {
  width: 100px;
  height: 50px;
  background-color: blanchedalmond;
}
